{{- $person := dict
  "@type" "Person"
  "name" site.Params.author
  "url" site.Params.personalSite
  "sameAs" (slice site.Params.social.github site.Params.social.linkedin)
-}}
{{- with resources.Get "images/prof_pic-1400.webp" -}}
{{- $person = merge $person (dict "image" .Permalink) -}}
{{- end -}}
{{- $schema := dict
  "@context" "https://schema.org"
  "@type" "ProfessionalService"
  "name" site.Params.brand
  "url" site.Home.Permalink
  "description" site.Params.description
  "founder" $person
  "areaServed" "Europe"
-}}
{{- with resources.Get "images/logo.png" -}}
{{- $schema = merge $schema (dict "logo" .Permalink) -}}
{{- end -}}
<script type="application/ld+json">{{ $schema | jsonify | safeJS }}</script>
